<div class="container-fluid mx-3 my-4">
    <h2 class="mb-4">Inventory</h2>

    <!-- Inventory Form -->
    <div>
        <form class="row gx-3 gy-2 align-items-center" (ngSubmit)="onSubmit()" novalidate>
            <div class="col-sm-3">
                <label class="form-label">Product Id</label>
                <input type="text" class="form-control" placeholder="1001" [(ngModel)]="inventoryData.productId"
                    name="productId" />
            </div>
            <div class="col-sm-3">
                <label class="form-label">Product Name</label>
                <select class="form-select" [(ngModel)]="inventoryData.productName" name="productName">
                    <option selected>Choose...</option>
                    <option value="1">Earphones</option>
                    <option value="2">Mobiles</option>
                    <option value="3">Playstation</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label class="form-label">Quantity Available</label>
                <input type="number" class="form-control" placeholder="Quantity Available" [(ngModel)]="inventoryData.availableQty" name="availableQty" />
            </div>
            <div class="col-sm-3">
                <label class="form-label">Reorder Qty</label>
                <input type="number" class="form-control" placeholder="Reorder Qty" [(ngModel)]="inventoryData.reorderPoint" name="reorderPoint" />
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
<div class="row mx-3 py-5">
    <h5 class="mb-3">Inventory Details</h5>
    <div class="table-responsive">
        <table class="table table-bordered align-middle">
            <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Id</th>
                    <th scope="col">Stock Available</th>
                    <th scope="col">Reorder Point</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>1001</td>
                    <td>130</td>
                    <td>50</td>
                    <td>
                        <button class="btn btn-sm btn-primary">Edit</button>
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>1002</td>
                    <td>200</td>
                    <td>60</td>
                    <td>
                        <button class="btn btn-sm btn-primary">Edit</button>
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>1003</td>
                    <td>600</td>
                    <td>50</td>
                    <td>
                        <button class="btn btn-sm btn-primary">Edit</button>
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>